/*!*************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/style.css ***!
  \*************************************************************************************************************************************************************/
h1 {
  color: #27aedb;
  text-align: center;
}
